[DASHBOARD]
ip_server = 192.168.1.120

[ESTACAO]
dni_min = 1100
dni_max = 99999
ghi_min = 300
ghi_max = 700
dirvento_min = 0
dirvento_max = 360
velvento_min = 1
velvento_max = 50
precip_min = 0
precip_max = 60
txchuva_min = 0
txchuva_max = 7
vento_direcao_min = 0
vento_direcao_max = 360
precipitacao_min = 0
precipitacao_max = 25
vento_velocidade_min = 0
vento_velocidade_max = 16
taxa_chuva_min = 0
taxa_chuva_max = 10
dhi_min = 0
dhi_max = 600
temperatura_min = 0
temperatura_max = 45
umidade_min = 10
umidade_max = 90
pressao_min = 900
pressao_max = 1100

[TERMOSTATOS]
temp_min = 80
temp_max = 800
num_sensores_alarm = 6
toggle_ativa_min = false

[SISTEMA]
ip_estacao_meteo = 127.0.0.1
port_estacao_meteo = 502
ip_termostatos = 127.0.0.1
port_termostatos = 1502
ip_roteador = 127.0.0.1
port_roteador = 6065
ip_cam1 = 192.168.1.168
port_cam1 = 80
ip_cam2 = 192.168.1.167
port_cam2 = 80
ip_ventilador = 127.0.0.1
port_ventilador = 2502

[TEMPOS]
intervalo_gravacao_estacao_minutos = 60
intervalo_gravacao_termostatos_minutos = 30

[DASHBOARD_DISPLAY]
slot1 = dni
slot2 = dhi
slot3 = vento_velocidade
slot4 = precipitacao

