<div class="sidebar">
    <div class="logo">SOLAR CONTROL</div>
    <div class="nav-menu">
        <div class="nav-item active" onclick="showScreen('dashboard')">📊 Dashboard</div>
        <div class="nav-item" onclick="showScreen('weatherStation')">🌤️ Estação Meteorológica</div>
        <div class="nav-item" onclick="showScreen('sensorTemp')">🌡️ Sensores Temperatura</div>
        <div class="nav-item" onclick="showScreen('helioBase')">☀️ Heliostatos</div>
        <div class="nav-item" onclick="showScreen('microturbine')">🌪️ Microturbina</div>
        <div class="nav-item" onclick="showScreen('system')">⚙️ Sistema</div>
        <div class="nav-item" onclick="showScreen('reports')">📋 Relatórios</div>
    </div>
    <div class="separator"></div>
    <div class="nav-menu">
        <div class="nav-item" onclick="showScreen('users')">👤 Usuários</div>
    <div class="separator"></div>
		<div class="nav-item" onclick="showScreen('aboutScreen')">ℹ️ Sobre</div>
    </div>
</div>